
# Created by Daniel Shevtsov

### Keil uVision ###

**/Listings/

*/Objects/*.htm
*/Objects/*.axf
*/Objects/*.lnp
*/Objects/*.o
*/Objects/*.dep
*/Objects/*.d
*/Objects/*.sct
*/Objects/*.iex

*.uvopt
*.uvproj